.congratulate{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: rgb(222, 237, 255);
    display: flex;
    justify-content: flex-start;
    border-radius: 7px;
    border: 1px solid rgb(0, 157, 255);
    padding: 5px 10px;
}
.congratulate i{
    margin-right: 7px;
    align-items: center;
background-color: rgb(80, 255, 243);
color: rgb(44, 5, 95);
border-radius: 50%;
height: 60px;
padding: 5px 10px;
font-size: 2rem;
}
.congratulate h4{
    color: darkslategray;
    font-weight: 600;
    margin-bottom: 0px !important;
}
.congratulate p{
    font-size: 0.9rem;
    margin-bottom: 0px !important;
}
.cab_details{
    margin-top: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 7px;
    padding: 10px 15px;
}

.cab_details p{
    font-size: 1rem;
    margin-bottom: 0px !important;
}
.cab_details h4{
    font-weight: 600;
}
.booking_login_from{
    margin-top: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #fdf1dd;
    display: flex;
    justify-content: flex-start;
    border-radius: 7px;
    border: 1px solid rgb(255, 200, 0);
    padding: 5px 10px;
}
.booking_login_from i{
    margin-right: 7px;
    align-items: center;
background-color: rgb(243, 202, 55);
color: rgb(95, 88, 5);
border-radius: 50%;
height: 60px;
padding: 5px 10px;
font-size: 2rem;
}
.booking_login_from h4{
    font-weight: 500;
    margin-bottom: 0px !important;
}
.booking_login_from a{
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 0px !important;
}
.booking_login_from p{
    font-size: 0.9rem;
    margin-bottom: 0px !important;
}

.payment{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius:7px;
    margin-top: 15px;
}
.payment_cancal {
    border-radius: 7px 7px 0px 0px;
    background-color: #c1fff7;
    padding: 10px;
    color: #067b77;
    font-size: 15px;
}

.payment_section {
    padding: 10px 15px;
}
.payment_section h3{
    color: #16167D;
}
.payment_content ul{
    padding: 10px !important;
}
.payment_content input {
    margin-right: 10px;
}
.payment_content span {
    font-size: 1.1rem;
    font-weight: 400;
}



.payment_card img{
    width: 70px;
    height: 30px;
}
.booking_from_button{
    text-align: center;
    margin: 15px;
}
.booking_from_button button{
    font-weight: 700;
    color: #fff;
    background-color: #FF6633;
    border-radius: 70px;
    font-size: 1.3rem;
    padding: 10px 60px !important;
    border: 1px solid #ff5e00;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


@media only screen and (max-width:438px) {
    .booking_from_button{
        text-align: center;
        margin: 15px;
    }
    .booking_from_button button{
        font-weight: 600;
        color: #fff;
        background-color: #FF6633;
        border-radius: 70px;
        font-size: 1.3rem;
        padding: 10px 60px !important;
        border: 1px solid #ff5e00;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
}